:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
html{
    font-size: 93.75%; /*15px*/
}
body{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    
    /* font-family: 'Roboto', sans-serif; */
    
    height: 100vh;
    background-color: var(--background);
    padding-top: 8%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2{
    color: var(--text-title);
    margin: 0px;
    font-size: 2em;
}

h3, h4{
    margin: 0px;
    font-weight: 500;
    color: var(--text-base);
}

p{
    margin: 0px;
}

a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    word-spacing: 0.1em;
}

.container{
    width: 90%;
}

header{
    margin: 0px auto;
}

section{
    margin: 2rem auto;
}

section>h1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

form{
    margin: 0px auto;
}

form h3.top_h3{
    margin-top: 1.5rem;
}
form input#mail, input#pass{
    width: 100%;
    border: 1.5px solid #868686;
    margin: 0px;

    font-size: 1.2rem;

    box-sizing: border-box;
    outline-style: none;
    padding-block: 0.8rem;
    border-radius: 0.2rem;
    background-color: transparent;
    color: var(--text-base);
    padding-inline: 1rem;
    margin-top: 0.2rem;
}

input#mail:focus, input#pass:focus{
    transition: 0.2s;
    border: 2px solid var(--primary-color);
}

div#rememberme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

div#remember_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

div#remember_box #check{
    appearance: none;
    padding: 0.8rem;
    border: 1.5px solid var(--text-base);
    border-radius: 0.3rem;
    margin: 0px;
}

#check:checked{
    appearance: none;
    background: url(./asstes/check.svg) no-repeat center;
    background-color: var(--primary-color);
    padding: 0px;
    border: 1.5px solid transparent !important;
    transition: 0.2s;
}


button{
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 100%;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    padding-block: 1rem;

    color: #473404;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
}

.text_yellow{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

@media screen and (min-width:1440px) {
    html{
        font-size: 90%;
        margin: 0px;
    }
    header{
        position: absolute;
        top: 5%;        
    }
    body{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        width: 50%;
        background-image: url(./asstes/side-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        background-position-y: center;
        background-size: auto; 
    }

    main{
        width: 50vw;
    }
}